logging:
  level:
    ru.yandex.practicum.client: DEBUG
    ru.yandex.practicum.logging: DEBUG
    feign: INFO

info:
  app:
    name: test-client
    description: Smart Home Tech Project
    version: 1.0-SNAPSHOT
  company:
    name: Yandex Practicum

spring:
  application:
    name: test-client
  lifecycle:
    timeout-per-shutdown-phase: 30s
  cloud:
    config:
      enabled: false
    openfeign:
      circuitbreaker:
        enabled: true

server:
  port: 0
  shutdown: graceful

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      failureRateThreshold: 50
      waitDurationInOpenState: 10000
      permittedNumberOfCallsInHalfOpenState: 3
      slidingWindowType: COUNT_BASED
      minimumNumberOfCalls: 5
      automaticTransitionFromOpenToHalfOpenEnabled: true

eureka:
  client:
    registerWithEureka: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}${random.int}
    preferIpAddress: false
    hostname: localhost
